:root {
  --primary-color: #de3c3c;
}

.App {
  margin: 50px auto;
  max-width: 700px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  color: var(--primary-color);
}

.App footer {
  opacity: 0.8;
}

.App footer a {
  transition: all 150mss ease-in-out;
}

.App footer a:hover {
  color: var(--primary-color);
}
