.Weather {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 40px;
  margin: 20px;
}

.Weather h1 {
  font-size: 35px;
  line-height: 29px;
}

.Weather ul {
  padding: 0;
  margin: 0;
}

.Weather li {
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  color: rgb(32, 33, 36);
}

.Weather .search-button {
  font-size: 20px;
}

.Weather canvas {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  vertical-align: top;
}

.temperature {
  color: rgb(32, 33, 36);
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
}

.temp-data {
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
  margin-top: 10px;
}

.unit {
  color: rgb(32, 33, 36);
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  top: -25px;
  margin-left: 5px;
}

.clearfix {
  margin-top: 10px;
}

.clearfix div {
  display: inline-block;
}
